<h3><%= @board.title %> Board</h3>

<%= link_to "Create Ticket", new_ticket_path(board: @board) %>

<br>
<div class="row">
  <div class="col-md-3 ticketSection backlog">
    Backlog
    <div>
      <% @board.backlogged_tickets.each do |ticket| %>
        <p><%= ticket.title %></p>
        <%= form_for(ticket, method: :put) do |f| %>
          <%= f.select(:status, [["Current Sprint", "Current Sprint"]]) %>
          <%= f.submit %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-md-3 ticketSection currentSprint">
    Current Sprint
    <div>
      <% @board.current_sprint_tickets.each do |ticket| %>
        <p><%= ticket.title %></p>
        <%= form_for(ticket, method: :put) do |f| %>
          <%= f.select(:status, [["Backlog", "Backlog"], ["In Progress", "In Progress"]]) %>
          <%= f.submit %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-md-3 ticketSection inProgress">
    In Progress
    <div>
      <% @board.in_progress_tickets.each do |ticket| %>
        <p><%= ticket.title %></p>
        <%= form_for(ticket, method: :put) do |f| %>
          <%= f.select(:status, [["Current Sprint", "Current Sprint"], ["Done", "Done"]]) %>
          <%= f.submit %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-md-3 ticketSection done">
    Done
    <div>
      <% @board.done_tickets.each do |ticket| %>
        <p><%= ticket.title %></p>
        <%= form_for(ticket, method: :put) do |f| %>
          <%= f.select(:status, [["In Progress", "In Progress"]]) %>
          <%= f.submit %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
